verbose: normal +nowrap +markoutput
remote-build-reporting: anonymous
write-ghc-environment-files: always
jobs: 4

remote-repo-cache: /cabal/packages
logs-dir:          /cabal/logs
world-file:        /cabal/world
extra-prog-path:   /cabal/bin
symlink-bindir:    /cabal/bin
build-summary:     /cabal/logs/build.log
store-dir:         /cabal/store

install-dirs user
  prefix: /cabal

repository hackage.haskell.org
  url: http://hackage.haskell.org/
